*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color:#081b29;
    --second-color:#112e42;
    --main-color:#00abf0;
    --text-color:#ededed;
  }


body{
     /* overflow: hidden; */
     background: url(/images/stars\ back.jpg);
     color: var(--text-color);
     background-size: cover;
     background-position: center;

  }


  
  html{
    font-size: 62.5%;  
    overflow: hidden;

  }



h1{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span{
    color: var(--main-color);
  }


section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;   

  }

.projects{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
    

   
}


.projects  .projects-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  
   }

   .projects  .projects-column{
    flex: 1 1 40rem;
  
   }

   .projects-column .projects-box{
    border-left: .2rem solid var(--main-color);

   }
   .projects-box .projects-content{
    position: relative;
    padding-left: 2rem;
    /* border-left: .2rem solid var(--main-color); */
   }

   .projects-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem ;
    margin-bottom: 2rem;
    overflow: hidden;
   }
  
  




 




